.dupa{
		color: red;
		background: red;
		width: percentage(5/7);
		.dupa{
		color: red;
		background: red;
		width: percentage(5/7);}
		.dupa{
		color: red;
		background: red;
		width: percentage(5/7);
		
		}
	
	}