.dupa {
  color: red;
  background: red;
  width: 71.42857%; }
  .dupa .dupa {
    color: red;
    background: red;
    width: 71.42857%; }
  .dupa .dupa {
    color: red;
    background: red;
    width: 71.42857%; }
